<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
    <h1>All users</h1>
    <%  @users.each do |user|  %>
    <p><%= link_to user.name, users_show_path(user.id) %></p>
    <% end %>
    </div>
  </div>
</div>
