<div class="footer">
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
    <div class="d-flex justify-content-around">
      <div>
        <h5>About</h5>
        <h5>Contact</h5>
      </div>
      <div>
        <p>Caralibro.com</p>
        <p>© 2022-2023 JS.</p>
      </div>
    </div>
    <hr>
      <div class="d-flex justify-content-center mt-4">
        <%= image_tag 'favicon.png', class:"footer-icon" %>
      </div>
    </div>
    </div>
  </div>
</div>
