<div class="home-cover d-flex justify-content-end align-items-end">
  <div class="main-message me-5">
    <h1 class="mb-3">Welcome to Caralibro!</h1>
    <h3>Create your account or login</h3>
    <div class="mt-3 d-flex justify-content-center">
    <%= link_to "Signup", new_user_registration_path, class:"btn btn btn-light me-3" %>
    <%= link_to "Login ", new_user_session_path, class:"btn btn btn-outline-light" %>
    </div>
  </div>
</div>
