<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
      <h1 class="mt-3">Edit post</h1>
      <hr>
        <%= form_for(@post) do |f| %>
        <%= f.text_area :content, style:"width: 600px; height: 200px;"%>
        <%= f.submit :Update, class: 'btn btn-primary mb-4'%>
        <% end %>
    </div>
  </div>
</div>
