<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5 mb-5">
    <h1>New post Page</h1>

    <%= simple_form_for(@post) do |f| %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }%>
      <%= f.text_area :content, placeholder: 'Tell us about your day!', style:"width: 600px; height: 200px"%>
      <br>
      <%= f.submit :Submit, class: 'btn btn-primary mb-4'%>
    <% end %>
    </div>
  </div>
</div>
