.navbar-lewagon {
  justify-content: space-between;
  background: #3b5998;
}

.nav-link {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 15%
}
